{% extends 'base.html.twig' %}

{% block title %}Список рейсов{% endblock %}

{% block body %}
    <div class="container">
        {% for route in routes %}
            <div class="card w-75 mx-auto my-2">
                <div class="card-body">
                    <h5 class="card-title">{{ route.departurePoint }} - {{ route.arrivalPoint }}</h5>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    Доступно рейсов: {{ route.trips|length }}
                    <a href="{{ path('trips', {'id': route.id}) }}" class="btn btn-primary">Просмотреть рейсы</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
